---
layout: default
title: Home
---

<h2>Abubalay</h2>
<p>Welcome to my dumping ground for stuff.</p>
<div class="row">
	<div class="six columns">
		<h3>Games</h3>
		<dl class="vertical tabs">
			{% for game in site.data.games %}
			<dd><a href="/games#{{ game.page }}">{{ game.name }}</a></dd>
			{% endfor %}
		</dl>
	</div>
	<div class="six columns">
		<h3>Projects</h3>
		<dl class="vertical tabs">
			{% for project in site.data.projects %}
			<dd><a href="{{ project.url }}">{{ project.name }}</a></dd>
			{% endfor %}
		</dl>

		<h3>Articles</h3>
		<dl class="vertical tabs">
			{% for post in site.posts %}
			<dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
			{% endfor %}
		</dl>
	</div>
</div>
