body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42856;
	color: #333;
}
h1, h2, h3, h4, h5, h6 { margin: 0; }
a {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
}
img {
	vertical-align: baseline;
	max-width: 100%;
}
header p {
	margin-top: 0;
	color: #555;
}
table { border-collapse: collapse; }
thead th { text-align: left; }
tbody tr:nth-child(odd) { background-color: #eee; }
th, td {
	padding: 1px 12px 1px 0;
	white-space: nowrap;
}
pre { font-size: 14px; }
pre, code {
	font-family: Consolas, Menlo, DejaVu Sans Mono, monospace;
}

.container {
	margin: 0 auto;
	max-width: 960px;
}

.row { margin: 0 auto; }
.row .row { min-width: 0; }
.row:after { content: " "; display: table; clear: both; }
.column, .columns {
	float: left;
	position: relative;
	padding: 0 12px;
	box-sizing: border-box;
}

.row .content.column { width: 70%; }
.row .sidebar.column { width: 30%; }
.row .two.columns { width: 16.6667%; }
.row .ten.columns { width: 83.3333%; }
.row .twelve.columns { width: 100%; }
@media (max-width: 640px) {
	.column, .columns { float: none; }
	.row .content.column,
	.row .sidebar.column,
	.row .two.columns,
	.row .ten.columns
	{ width: 100% }
}

nav.row {
	margin-bottom: 12px;
	line-height: 60px;
	background-color: #eee;
	border-bottom: 3px solid #2a6496;
}
nav:after { content: " "; clear: both; }
nav .header { height: 60px; }
nav .header a { padding: 0; }
nav .nav {
	float: right;
	height: 60px;
	padding: 0;
}
nav ul {
	margin: 0;
	list-style: none outside none;
}
nav a {
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	height: 60px;
}
nav .nav li { float: left; }
nav img { vertical-align: middle; }
@media (max-width: 640px) {
	nav .nav { float: none; }
}
