<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - Abubalay</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/syntax.css">
		{% feed_meta %}
	</head>
	<body>
		<nav class="row">
			<div class="container">
				<div class="header column">
					<a href="/"><img src="/images/banner.png" alt="Abubalay"></a>
				</div>
				<ul class="nav column">
					<li><a href="/">Home</a></li>
					<li><a href="/games">Games</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<article class="content column">
					{{ content }}
				</article>
				<div class="sidebar column">
					<h3>About Me</h3>
					{{ "Software developer interested in game development, computer graphics, compilers, programming languages, and systems programming." | markdownify }}
					{{ "GitHub: [rpjohnst](https://github.com/rpjohnst)" | markdownify }}
					{{ "Twitter: [@rpjohnst](https://twitter.com/rpjohnst)" | markdownify }}
				</div>
			</div>

			<footer class="row">
				<div class="twelve columns">
					<p>&copy; 2006-2020 Russell Johnston</p>
				</div>
			</footer>
		</div>
	</body>
</html>
